:root {
  --main-bg: #f4eade;
  --card-bg: white;
  --dark-head: #2f496e;
  --very-dark-head: black;
  --sharp: #ed8c72;
  --shadow: rgba(0, 0, 0, 0.5);
  --border-light: #ecf0f1;
  --text-light: rgba(0, 0, 0, 0.4);
  --text-lighter: rgba(0, 0, 0, 0.25);
  --hover-highlight: #f2f3f4;
  --heading-font: 'Raleway', sans-serif;
  --main-font: 'Open Sans', sans-serif;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}
#__next {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg);
}
.full-page {
  flex: 1;
  width: 100%;
}
.full-page-centered {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-card {
  min-height: 400px;
  min-width: 70%;
  border: 10px rgba(0, 0, 0, 0.15) solid;
  background-color: white;
  -webkit-box-shadow: -1px 2px 53px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 2px 53px 3px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 2px 53px 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  text-overflow: ellipsis;
}

.container {
  max-width: 800px;
}

p {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

.btn {
  border-radius: 0;
}

input {
  border-radius: 0 !important;
}
