.editable-text-confirm-btn {
  color: var(--success) !important;
  opacity: 0.8 !important;
}

.editable-text-confirm-btn:hover {
  color: var(--success) !important;
  opacity: 1 !important;
}

.editable-text-close-btn {
  color: inherit !important;
  opacity: 0.5;
}

.editable-text-close-btn:hover {
  color: inherit !important;
  opacity: 0.7;
}

.editable-text {
  flex: 1;
  margin: 0;
  max-width: 90%;
}
