.add-board-form-container {
  background-color: var(--card-bg);
  margin: 48px 0 48px 0;
  padding: 24px;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 8px 0px var(--shadow);
  -moz-box-shadow: 0px 0px 8px 0px var(--shadow);
  box-shadow: 0px 0px 8px 0px var(--shadow);
}

.add-form-heading {
  color: var(--sharp);
}

.add-board-form-header p {
  color: var(--text-light);
}

.add-board-form-container .btn.btn-secondary:disabled {
  opacity: 0.3;
}

.add-board-form-container .btn.btn-secondary {
  opacity: 0.8;
  background-color: var(--sharp);
  border-color: var(--sharp);
}

.add-board-form-container .btn.btn-info {
  opacity: 0.8;
  background-color: var(--sharp);
  border-color: var(--sharp);
}

.add-board-form-container .btn.btn-info:hover {
  opacity: 1;
}

.add-board-form-container .btn.btn-info:hover:active {
  opacity: 0.8;
  background-color: var(--sharp);
  border-color: var(--sharp);
}

.add-board-form-container .spinner-border {
  color: var(--sharp) !important;
}

.add-board-form-container input::placeholder {
  color: var(--text-lighter);
}
