.answer-box {
  min-height: 75px;
  display: flex;
  padding: 24px;
}

.answer-text p {
  margin: 0;
}

.answer-text button {
  /* visibility: hidden; */
  display: none;
}

.answer-text:hover button {
  visibility: visible;
  display: block;
}

.answer-box:hover {
  background-color: var(--hover-highlight);
}

.answer-box.hover-off:hover {
  background-color: transparent;
}

.answer-text {
  flex: 1;
  display: flex;
  align-items: center;
}

.answer-box .btn.btn-outline-secondary:disabled {
  opacity: 0.3;
  color: var(--gray) !important;
  border-color: var(--gray);
}

.answer-box .btn.btn-outline-primary {
  opacity: 0.8;
  color: var(--sharp);
  border-color: var(--sharp);
}

.answer-box .btn.btn-outline-primary:hover {
  opacity: 1;
  background-color: var(--sharp);
  color: var(--card-bg);
  border-color: var(--sharp);
}

.answer-box .btn.btn-outline-primary:hover:active {
  opacity: 0.8;
  background-color: var(--sharp);
  color: var(--card-bg);
  border-color: var(--sharp);
}

.answer-box .spinner-border {
  color: var(--sharp) !important;
}

.answer-box input::placeholder {
  color: var(--text-lighter);
}
