.board-container {
  border-radius: 4px;
  margin: 48px 0 48px 0;
  -webkit-box-shadow: 0px 0px 8px 0px var(--shadow);
  -moz-box-shadow: 0px 0px 8px 0px var(--shadow);
  box-shadow: 0px 0px 8px 0px var(--shadow);
}
.board-header {
  display: flex;
  align-items: center;
  background-color: var(--very-dark-head);
  color: white;
  padding: 24px;
}

.board-topic {
  flex: 1;
  margin: 0;
  max-width: 90%;
}

.board-topic .button-container .btn {
  font-size: 1.75rem;
  margin: 0;
  padding: 0 5px;
}

.board-topic .button-container {
  font-size: 1.25rem !important;
  margin: 0;
  padding: 0 25px;
}

.answers-stack {
  background-color: var(--card-bg);
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.answers-stack li {
  border-bottom: solid var(--border-light) 1px;
}

.answers-stack li:last-child {
  border-bottom: none;
}
