.board-toolbox-container {
  display: flex;
  font-size: 1.25rem;
  padding: 0px;
}

.board-toolbox-container .dropdown .btn {
  background-color: transparent;
  border: none;
}

.board-toolbox-container .btn {
  opacity: 0.5;
  color: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0 0.5rem;
}

.board-toolbox-container .btn:hover {
  color: inherit;
  opacity: 1;
}
