.lined-surrounded {
  display: flex;
  line-height: 1.5;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.lined-surrounded::before,
.lined-surrounded::after {
  flex: 1;
  content: '';
  height: 5px;
  border-bottom: 1px solid var(--sharp);
  border-top: 1px solid var(--sharp);
}

.lined-surrounded .content-container {
  padding: 0 1rem;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lined-surrounded .content-container .headline {
  color: var(--sharp);
}

.lined-surrounded .content-container p {
  color: var(--text-light);
  font-size: 0.8rem;
}
