.email-login-guide {
  color: var(--sharp);
}

.login-form-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 300px;
  min-height: 200px;
  padding: 15px;
}

.login-form-container form {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.text-input {
  height: 30px;
}

.mb-10 {
  margin-bottom: 50px !important;
}

.login-form-container .btn-secondary.disabled {
  background-color: var(--sharp);
  border-color: var(--sharp);
  opacity: 0.3;
}

.login-form-container .btn.btn-info {
  opacity: 0.8;
  background-color: var(--sharp);
  border-color: var(--sharp);
}

.login-form-container .btn.btn-info:hover {
  opacity: 1;
  background-color: var(--sharp);
  border-color: var(--sharp);
}

.login-form-container .btn.btn-info:hover:active {
  opacity: 0.8;
  background-color: var(--sharp);
  border-color: var(--sharp);
}

.login-form-container input::placeholder {
  color: var(--text-lighter);
}

.login-form-container .spinner-border {
  color: var(--sharp) !important;
}
