.colored-navbar {
  background-color: var(--dark-head);
}

.login-btn {
  padding: 0;
  margin: 0;
  line-height: 1;
}

.dropdown-item a {
  color: inherit;
}

.dropdown-item a:hover {
  color: inherit;
  text-decoration: none;
}
