.upvote-btn {
  width: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: transparent;
}

.upvote-btn.upvoted {
  color: var(--sharp);
  border-color: var(--sharp);
}

.upvote-btn:hover {
  cursor: pointer;
  background-color: var(--sharp);
  color: var(--card-bg);
}
